.cal {}

.cal-headding {
    text-align: center;
}

.cal-relative-nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}


.cal-body {
    border: 1px solid gray;
    position: relative;
}

.cal-body__sticky-event {
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid red;
    width: 25%;
    height: 1000px; /*JavaScript から挿入*/
}

.cal-body__sticky-event p{
    position: sticky;
    top: 10px;
}

.cal-item {
    background: lightblue;
    display: flex;
}

.cal-item__day {
    width: 25%;
}

.cal-item__isopen {
    width: 25%;
}

.cal-item__single {
    width: 25%;
}

.cal-item__range {
    width: 25%;
}

/* 読み上げ用は非表示にしてスクリーンリーダーが読むようにする */
.sr-hidden{
    opacity: 0;
}